<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title th:text="${'TheGG - Post ' + post.id}"></title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div>
			<p th:text="${{post.filename}}">Filename</p>
			<div>
				<img th:src="@{${'/gallery/' + post.filename}}" style=" max-height: 50vw; min-height: 50vh;">
			</div>
			<table>
				<tr>
					<td>Tags:</td>
				</tr>
				<tr>
				</tr>
				<tr th:each="tag : ${post.tags}">
					<td th:text="${{tag}}"></td>
				</tr>
			</table>
		</div>
	</body>
</html>